<div class="menu_view" ng-controller="MenuController">

<!-- 场景一（展示列表时） -->
<div class="menu_preview_list">
	<div class="item" ng-repeat="ibtn in btn_list.items | limitTo:1" ng-init="parent = $index">
		<div class="menu_preview">
			<div class="menu_preview_start">
				<button class="btn btn-default" ng-click="editAble=true" ng-show="!editAble">编辑</button>
				<button class="btn btn-success" ng-show="!ibtn.active" ng-click="publishMenu(ibtn.id)">启用</button>
				<button class="btn btn-danger" ng-show="ibtn.active" ng-click="disable(ibtn.id)">停用</button>
			</div>
			<div class="menu_preview_mask" ng-show="!editAble"></div>
			<div class="menu_preview_wrap">
				<div class="menu_preview_title">
					最近编辑 2014-11-11
					<span class="menu_preview_author"></span>
				</div>
				<div class="menu_preview_menu">
					<div class="menu_preview_menu_row">
						<div class="menu_preview_menu_it" ng-repeat="first in ibtn.button">{{first.name}}
							<ul class="menu_preview_menu_sublist">
								<li class="menu_preview_menu_sublist_it" ng-repeat="second in first.sub_button">{{second.name}}</li>
							</ul>
						</div>
<!-- 						<div class="menu_preview_menu_it" ng-show="ibtn.button.length==1">&nbsp;&nbsp;&nbsp;&nbsp;</div>
						<div class="menu_preview_menu_it" ng-show="ibtn.button.length<3">&nbsp;&nbsp;</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- menu tree -->
		<div class="menu_preview_tree" ng-show="editAble">
			<div><button class="btn btn-success" ng-click="createOne(ibtn)" ng-show="ibtn.button.length<3">添加一级菜单</button></div>
			<ul class="menu_preview_tree_list" ng-repeat="first in ibtn.button" ng-init="one = $index">
				<li><span>{{first.name}}
				<button class="btn btn-success btn-xs btn-repty" ng-show="!first.sub_button" ng-hide="first.type" ng-click="open(parent,first,one)">添加回复</button>
				<button class="btn btn-success btn-xs btn-repty" ng-show="first.type" ng-hide="first.sub_button" ng-click="open(parent,first,one)">修改回复</button>
				<a href="javascript:" class="glyphicon glyphicon-pencil" ng-click="editInput(first)"></a>
				<a href="javascript:" class="glyphicon glyphicon-remove" ng-click="removeItems(ibtn.button,$index)"></a></span>
					<ul class="menu_preview_tree_list_sub">
						<li ng-repeat="second in first.sub_button"><span ng-show="second">{{second.name}}</span> 
							<a href="javascript:" class="glyphicon glyphicon-pencil" ng-click="editInput(second)"></a>
							<a href="javascript:" class="glyphicon glyphicon-remove" ng-click="removeItems(first.sub_button,$index)"></a>
							<button class="btn btn-success btn-xs btn-repty" ng-show="!second.type" ng-click="open(parent,second,$index,one)">添加回复{{second.url}}</button>
							<button class="btn btn-success btn-xs btn-repty" ng-show="second.type" ng-click="open(parent,second,$index,one)">修改回复</button>
							<span class="danger_msg" ng-hide="second.type">错误：请添加回复!</span>
						</li>
						<li><button class="btn btn-success btn-xs" ng-click="remindConfirm(first)" ng-hide="first.sub_button.length==5">添加二级菜单</button></li>
					</ul>
				</li>
				<li>
					<ul class="menu_preview_tree_list_sub">
					</ul>
				</li>
			</ul>
			<div class="menu_preview_submit">
				<button class="btn btn-success" ng-click="saveMenu(ibtn)">保存</button>
				<button class="btn btn-danger" ng-click="publishMenu(ibtn.id)">发布</button>
				<!-- <button class="btn btn-danger" ng-click="removeMenu(ibtn.id)">删除</button> -->
			</div>
		</div>
		<div class="menu_active">

		</div>
	</div>
	<!-- add menu -->
	<div class="menu_preview" ng-hide="btn_list.items[0].button">
		<div class="menu_preview_start"><button class="btn btn-default" ng-click="createOne(btn_list,1)">添加</button></div>
		<div class="menu_preview_mask" ng-show="!newItemStatus"></div>
	</div>
	
</div>


<!-- 添加 -->
	<script type="text/ng-template" id="m1.html">
		<div class="modal-header" align="center">
			<b>添加回复</b>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label for="">类型</label>
					<select class="form-control" name="type" ng-model="replyType">
						<option value="keyword">引用菜单口令</option>
						<option value="view">外链至其它网页</option>
					</select>
				</div>
				
				<div class="form-group {{(replyType=='keyword')?'':'hide'}}">
					<label for="">选择口令（若未创建菜单口令，请前往<a href="">口令</a>添加）</label>
					<select class="form-control" ng-model="reply_keyword"  ng-options="k.key as k.label for k in reply_keywords">
						<option value="">请选择</option>
					</select>
				</div>
				<div class="form-group {{(replyType=='view')?'':'hide'}}">
					<label for="">链接地址</label>
					<textarea ng-model="reply_link" name="view" class="form-control" placeholder="http://"></textarea>
				</div>
				<button class="btn btn-primary" ng-click="save_reply()">保存</button>
			</form>
		</div>
		<div class="modal-footer"></div>
	</script>
	


</div>
